.featured {
    padding-top: 34px;
}

.featured-block {
    margin-top: 14px;
    height: 300px;
    margin-bottom: 70px;
}

.featured-block > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.featured-item {
    position: absolute;
    top:37px;
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    background-color: #DAE9FF;
    border-radius: 15px;
    padding: 10px 18px 18px 16px;
}

.featured-item--show {
    display: flex;
}

.featured-item-column:last-child {
    margin-left: 8px;
}

.featured-item img {
    border-radius: 10px;
    margin-bottom: 11px;
}

.featured-item_city {
    font-size: 26px;
    text-align: left;
    margin-bottom: 6px;
}

.featured-item_country {
    font-size: 16px;
    text-align: left;
}

.featured-item_height > span, .featured-item_pressure > span {
    font-size: 16px;
}

.featured-item_climate > span {
    font-size: 14px;
}

.featured-item_height,
.featured-item_climate,
.featured-item_pressure {
    text-align: left;
}

.featured-item_height,
.featured-item_climate {
    margin-bottom: 20px;
}
